@import "./tailwind-preflight.css";
@tailwind components;
@tailwind utilities;

html, body {
  font-family: var(--roboto-font);
}

body > * {
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.Toastify__toast-container--top-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-toast{
  &::before {
    content: '';
    position: fixed;
    background: #71717b;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    width: 200vw;
    height: 260vh;
    transform: translate(-38%, -23%);
    opacity: .5;
  }
}

.insert-toast {
  width: 80%;
  &::before {
    transform: translate(-10%, -23%);
  }
  .Toastify__toast {
    overflow: auto;
  }
}

.quill {
  display: flex;
  flex: 1;
  overflow: auto;
  .ql-container {
    width: 100%;
  }
}

.text-container {
  p {
    word-break: break-word;
  }
}

div[data-radix-popper-content-wrapper] {
  z-index: 9999;
}